# jupyter notebook
.ipynb_checkpoints
*.ipynb

# System files
*.DS_Store
desktop.ini

# python
*.egg-info/
*.pyc
__pycache__/
# code profiling results
*.prof

# data dir (or symlink to data dir)
examples/data