pandas
numpy
scipy
seaborn
scikit-learn
torch
torchaudio
torchvision
tensorboard
torchsummary
torchmetrics

jupyter-autotime
jupyter-black
tqdm
ipywidgets # for tqdm in Jupyter Lab
standard-imghdr # imghdr was removed from python3.13